<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center mt-2">
            <h2> <img src="./assets/image/avatar.png" alt="" style="height: 150px; width: 150px;"></h2> 
          </div>

          <div class="d-flex justify-content-center">
            <h4 class="text-align-center">Login</h4>
          </div>

          <div *ngIf="approve" class="text-danger">
            <small>Your Account Is Not Approved</small>
          </div>

          <div class="text-danger" *ngIf="invalidUsercredential"><small>Invalid email or password</small></div>
        
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

            <div class="form-group mb-3">
              <label>Email address</label>
              <input type="email" name="email" formControlName="email" class="form-control" autocomplete="off" placeholder="" />
              <p class="text-danger" *ngIf="is_submitted && errorControl.email.errors?.required">  Email is required </p>
            </div>

            <div class="form-group mb-3">
              <label>Password</label>
              <input type="password" name="password" formControlName="password" class="form-control" placeholder=""/>
              <p class="text-danger" *ngIf="is_submitted && errorControl.password.errors?.required">Password is required</p>
              <p class="text-danger" *ngIf="password.invalid && password.touched"> Password is required min 5 and max 10 length </p>
            </div>

            <button type="submit" class="btn btn-primary form-control mb-3">Login</button>

          </form>

          <div class="text-center">
            <a class="swtich-page" routerLink="/register" >Don't have an account? Sign Up</a>
          </div>

        </div>
      </div>
    </div>
    
  </div>
</div>
