.body-with{
    margin-left: 14em;
    .border-header{
        height: 3em;
        border-bottom: 1px solid rgb(180, 179, 179);
    }
}


.table-head{
    font-weight: bolder !important;
}

.panding{
    color: rgb(179, 73, 11);
}
.approve{
    color: rgb(12, 168, 12);
}


.cards{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .cards-body{
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.card{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}