.card{
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 32%;

    // h1 {
    //     font-size: 4rem;
    // }
    // h1::before,
    // h1::after {
    //     display: inline-block;
    //     content: "";
    //     border-top: .3rem solid black;
    //     width: 4rem;
    //     margin: 0 1rem;
    //     transform: translateY(-1rem);
    // }

    .swtich-page{
        text-decoration: none;
    }
}